@using React.Models
@model ApplicationUser

<h1>Account Details</h1>
<hr/>
<h3>@Html.Label("Username: ") @Html.DisplayFor(model => model.Email)</h3>
<h3>@Html.Label("First name: ") @Html.DisplayFor(model => model.FirstName)</h3>
<h3>@Html.Label("Last name: ") @Html.DisplayFor(model => model.LastName)</h3>
<h3>@Html.Label("Introduction:")
  <ul>
    <li>NoSQL Lesson 1: @if (ViewBag.NoSQL.Lesson1Complete == true) {<p>✔️</p>}</li>
    @* <li>Intro Lesson 2: @Html.DisplayFor(ViewBag.Introduction.Lesson2Complete)</li> *@
  </ul>
  @* <h3>@Html.Label("Redux:")
  <ul>
    <li>Redux Lesson 1: @Html.DisplayFor(Viewbag.Redux.Lesson1Complete)</li>
    <li>Redux Lesson 2: @Html.DisplayFor(ViewBag.Redux.Lesson2Complete)</li>
  </ul> *@